<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/common.css">
</head>

<body>

    <div id="heading">
        <h1>COMMON SERVICES</h1>
    </div>

    <!-- <div id="para">
        <p>Navigating government procedures can be confusing, especially when it comes to obtaining essential documents like Aadhaar, PAN, voter ID, birth certificates, and ration cards. <br><br>
             Our Common Services section provides clear, step-by-step guides to help you apply for, update, or verify these crucial documents with ease. <br><br>
             Whether you need to know the required documents, processing time, or the nearest service center, we've got you covered. <br><br>
             Save time and avoid unnecessary hassles with our simplified guidance.</p>
    </div> -->

    <div id="bullet_points">

        <ul>

            <li>Navigating government procedures can be confusing, especially when it comes to obtaining essential
                documents like Aadhaar, PAN, voter ID, birth certificates, and ration cards.</li><br>
            <li>Our Common Services section provides clear, step-by-step guides to help you apply for, update, or verify
                these crucial documents with ease.</li><br>
            <li>Whether you need to know the required documents, processing time, or the nearest service center, we've
                got you covered.</li><br>
            <li>Save time and avoid unnecessary hassles with our simplified guidance.</li>
        </ul>
    </div>

    <% Object.entries(data).forEach(function([key, value]) { %>
        <div class="element">
            <div>
                <img src="<%= value.image_link %>" class="image">
            </div>
            <div class="info">
                <h2><%= value.h2 %></h2>
                <ul>
                    <li><%= value.l1 %></li>
                    <li><%= value.l2 %></li>
                    <li><%= value.l3 %></li>
                    <li><%= value.l4 %></li>
                </ul>
                <a href="<%= value.image_link %>">For details "Click here"</a>
            </div>
        </div>
        <% }) %>
</body>

</html>